/***********************************************\

	@author:	杨亚洲;
	@github:	github.com/allenyangfly;
	@mail：		allenyang1995@outlook.com;
	@qq:  		827883530;

\************************************************/

@charset"UTF-8";

/*
	reset
*/

body,h1,h2,h3,p{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
}
em{
	font-family: normal;
}

a{
	text-decoration: none;
}

img{
	border: none;
	/*Top row of elements are aligned in the top of the highest element*/
	vertical-align: top;
}


body{
	font-size: 12px;
	font-family: "微软雅黑";
}

/*
	public
*/

.center{
	margin: 0 auto;
	width: 892px;
	padding-left: 44px;
	padding-right: 44px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	zoom: 1;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}

/*
	layout
*/


/*header*/
#header{
	height: 61px;
	position: relative;
}

#header .header-logo{
	width: 110px;
	height: 61px;
	background: #d55d5c;
	position: relative;
}
#header .header-logo span{
	position: absolute;
	bottom: 0px;
	color: #fff;
	font-family:"黑体";
	display: inline-block;
	padding-left: 7px;
	padding-bottom: 6px;
}
#header .header-date{
	position: absolute;
	right: 44px;
	bottom: 6px;
	color: #d45d5c;
	font-family: "黑体";
}
.linear{
	height: 2px;
	background: #938e8c;
}

/*main*/
#main{
	margin-top: 34px;
	height: 301px;
}

#main .section{
	width: 641px;
	height: 100%;
	background-image: url(../images/main_1.jpg);
}

#main .section-picl{
	width: 191px;
	height: 100%;
	background: #395547;
	opacity: 0.4;
}
#main .section-picr{
	height: 100%;
	width: 191px;
	background: #e3b8b4;
	opacity: 0.4;
}

#main .option{
	width: 203px;
	height: 100%;
	border-top: 2px solid #cc8091;
}
#main .option .option_line1{
	font-size: 13px;
	height: 35px;
	font-family: "微软雅黑";
	line-height: 30px;
	border-bottom:2px solid #000;
}
#main .option  strong{
	font-weight: normal;
	font-size: 18px;
}
#main .option_line1:first-letter{
	font-weight: normal;
	font-size: 18px;
}

#main .option .option_line2{
	font-size: 13px;
	height: 28px;
	font-family: "微软雅黑";
	
	border-bottom:2px solid #000;
}
#main .option .option_line3{
	margin-top: 5px;
	display: inline-block;
	color:#676767;
	line-height: 10px;
	font-size: 12px;
	font-family: "楷体";
}
#main .option .option_line4{
	font-size: 116px;
	color: #75b86b;
	font-family: "微软雅黑";
	font-weight: bold;
}
#main .option .option_line5 .fl{
	margin: 0;
	font-size: 55px;
	color: #cc8091;
}
#main .option .option_line5 .fr{
	margin:0px; 
}
#main .option .option_line5 .fr span{
	padding-top: 24px;
	height:21px;
	display: block;
	font-size: 21px;
	color: #cc8091;
}
#main .option .option_line5 .fr{
	color: #b6b6b7;
}

/*text*/
#text{
	margin-top: 42px;
}
#text .article{
	margin-right:28px;
	width:226px;
}
#text .article span{
	display: inline-block;
	font-family: "微软雅黑";
	color:#418c59;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 2px solid #418c59; 
	margin-bottom: 12px;
}
#text .narrowl{
	width:204px;
}

#text .narrowl span{
	color:#d2994f;
	border-bottom: 2px solid #d2994f;
}

#text .narrowr{
	width:130px;
}
#text .narrowr span{
	color:#cc7680;
	border-bottom: 2px solid #cc7680;
}
#text .narrowr .space{
	height:30px;
}
#text .narrowr p{
	color:#231815;
	font-family: "微软雅黑";
	line-height: 16px;
	opacity: 0.7;
	margin:0;
}
#text .narrowr p strong{
	color:#cd4a48;
	font-family: "微软雅黑";
	font-style: italic;
}

/*content*/
#content{
	margin-top: 75px;
	padding-bottom: 38px;
}

#content .section{
	width:415px;
}
#content .section-banner{
	font-style: italic;
	font-family: "黑体";
	border-bottom: 2px solid #10456b;
}
#content .section-banner strong{
	font-size: 72px;
	margin:0px;
	color: #f5e327;
	font-weight: bold;
	line-height: 20px;
}
#content .section-banner .top{
	line-height: 42px
}
#content .section-banner .bot{
	
}
#content .section-banner span{
	
	font-size: 42px;
	color: #11456b;
	font-style: normal;

}
#content .section-banner p{
	font-size: 33px;
	color: #11456b;
	font-style: normal;
	line-height: 41px;
	margin: 0px;
	font-family: "黑体";
}

#content .section-article{
	color:#767777;
	line-height: 16px;
	font-family: "宋体";
	padding-top: 22px;
}

#content .section-article strong{
	font-size: 70px;
	color:#f5e327;
	line-height: 70px;
	float: left;
	font-family: "微软雅黑";
	font-weight: normal;
	padding-right:5px;
	padding-bottom: 10px;
}


#content .section-article img{
	float: right;
	padding:22px 0 22px 22px;
}

#content .options-pic{
	position: relative;
}

#content .options-pic .images-bot-back{
	position: absolute;
	height: 60px;
	bottom: 0px;
	width: 100%;
	background: #000;
	opacity: 0.4;
}
#content .options-pic .images-bot-text{
	position: absolute;
	bottom:0;
	height:60px;
}
#content .images-bot-text h1{
	display: inline-block;
	width: 38px;
	margin: 8px 0;
	height:44px;
	float: left;
	border-right:3px solid #72b16a;
}
#content .images-bot-text span{
	font-size: 26px;
	color:#fff;
	line-height:60px;
	padding-left: 12px;
	padding-right: 9px;
}
#content .images-bot-text em{
	color:#72b16a;
	line-height: 140%;
}


#content .options-bot{
	width: 439px;
	height: 318px;
	margin-top: 30px;
	background: #efedd7;
	padding-right: 20px;
} 
#content .options-bot .bot_top{
	background: url(../images/content_text_1.png) no-repeat 32px 45px;
	padding-top: 26px;
	padding-bottom: 12px;
	padding-left: 48px;
}
#content .bot_top span{
	display: inline-block;
	font-size: 16px;
	font-family: "宋体";
	line-height: 40px;
	color:#5a5b5b;
}
#content .bot_top em{
	display: inline-block;
	color:#5a5b5b;
	font-family: "宋体";
	line-height: 40px;
	float: right;
}

#content .bot_bottom{
	width: 439px;
	height: 160px;
	padding-right: 20px;
}

#content .bot_bottom .bottom_logo{
	width: 260px;
	height: 84px;
	background: #d55d5c;
	padding-top: 40px;
	padding-bottom: 36px;
}

#content .bottom_logo h1{
	font-size: 110px;
	color: #fff;
	margin:0;
	float: left;
	line-height: 85px;
	padding-left:12px;
	padding-right: 6px;
	border-right: 2px solid #fff; 
	margin-right: 6px;
}

#content .bottom_logo span{
	font-size: 21px;
	color:#fff;
	font-family: "黑体";
	font-style: italic;
	line-height: 24px;
}

#content .bottom_logo em{
	margin-top:6px; 
	display: inline-block;
	font-size: 12px;
	color:#fff;
	font-family: "黑体";
	line-height: 10px;
}

#content .bottom_article{
	width:164px;
	padding-left: 14px;

	position: relative;
}
#content .bottom_article p{
	font-size: 14px;
	font-family: "黑体";
	text-indent: 40px;
	color:#5a5b5b;
} 
#content .bottom_article .fl{
	left:-22px;
}
#content .bottom_article .fr{
	right:-38px;
	bottom:-50px;
}

#content .bottom_article span{
	font-size: 72px;
	color:#d45d5c;
	font-family: "黑体";
	line-height: 72px;
	position: absolute;
	
	font-style: normal;
}


/*
	footer
*/
#footer{
	height: 100px;
}
#footer .linear{
	height:1px;
} 
#footer span{
	color:#d45d5c;
	font-family: "黑体";
}