{% if site.duoshuo_shortname %}
<section id="comments" class="comment">
	<div class="ds-thread" data-thread-key="{{ page.path }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
</section>
{% endif %}
{% if site.disqus_shortname or site.disqus_shortname %}
<section id="comments" class="comment">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
{% endif %}



<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<!-- UY BEGIN -->
<div id="uyan_frame" style="padding: 40px;"></div>
<script type="text/javascript" src="//v2.uyan.cc/code/uyan.js?uid=2110172"></script>
<!-- UY END -->
</body>
</html>


