body, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: none;
  padding: 0;
  background: none;
}

a, a:hover, a:link, a:visited, a:visited {
  text-decoration: none;
  color: #fff;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

@font-face {
  font-family: 'iconfont';
  src: url("../../common/ux_1466967219_6081846/iconfont.eot");
  /* IE9*/
  src: url("../../common/ux_1466967219_6081846/iconfont.eot?#iefix") format("embedded-opentype"), url("../../common/ux_1466967219_6081846/iconfont.woff") format("woff"), url("../../common/ux_1466967219_6081846/iconfont.ttf") format("truetype"), url("../../common/ux_1466967219_6081846/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 0 30px;
  line-height: 50px;
  background: #228abf;
  z-index: 2;
}
header .fl {
  font-size: 40px;
  color: #fff;
  opacity: .8;
}
header span.fl {
  font-size: 20px;
  padding-left: 10px;
}
header .user {
  float: right;
}
header .user i {
  font-size: 25px;
  color: #fff;
  opacity: .8;
}
header .user a {
  opacity: 0.8;
  color: #fff;
  transition: all .5s ease;
}
header .user a:link {
  color: #fff;
}
header .user a:visited {
  color: #fff;
}
header .user a:active {
  color: #fff;
}
header .user a:hover {
  color: #fff;
  opacity: 1;
}

#main * {
  box-sizing: border-box;
}
#main .nav {
  width: 200px;
  float: left;
  background: #2b2e3d;
  height: 100%;
}
#main .nav .top-img {
  width: 100px;
  height: 100px;
  margin: 50px 50px 20px 50px;
  border: 1px solid #fff;
  border-radius: 50px;
  background-image: url(../img/person.jpg);
  background-size: cover;
}
#main .nav ul {
  font-size: 15px;
  color: #647484;
}
#main .nav ul li {
  padding-left: 20px;
  cursor: pointer;
  line-height: 40px;
}
#main .nav ul li:hover {
  background-color: #373d4d;
  color: #c0c0c0;
}
#main .nav ul li i {
  margin-right: 20px;
}
#main .nav ul li.active {
  background-color: #373d4d;
  color: #c0c0c0;
}
#main .nav .info {
  margin-top: 30px;
  width: 100%;
  color: #c0c0c0;
}
#main .nav .mobile {
  width: 80%;
  height: 160px;
  margin: 0 auto;
  background-image: url("../img/1466678367.png");
  background-size: cover;
}
#main .content {
  height: 100%;
  margin-left: 200px;
  background: #ededed;
}
#main .content .top h3 {
  padding: 0 0 20px 0;
  position: relative;
  left: 40px;
  top: 30px;
  width: 110px;
  text-align: center;
  color: #373d4d;
  border-bottom: 5px solid #43b29f;
}
#main .content .top span {
  display: none;
  float: right;
  margin-right: 60px;
}
#main .content .top span em {
  margin: 0 10px;
  font-size: 25px;
  color: red;
}
#main .content table {
  margin: 70px auto;
}
#main .content table tr {
  display: block;
  text-align: center;
  padding: 10px 0 10px 50px;
}
#main .content table td, #main .content table th {
  margin-left: 20px;
  display: inline-block;
  width: 126px;
}
#main .content table td {
  padding-left: 40px;
  background: #fff;
  overflow: hidden;
}
#main .content table input {
  font-size: 14px;
  line-height: 30px;
}
#main .content table tr.submit {
  line-height: 30px;
  text-align: center;
}
#main .content table tr.submit td {
  cursor: pointer;
  padding-left: 0;
  background: #71b9fc;
  color: #fff;
}
#main .content table tr.submit td:nth-of-type(3) {
  background: #f44a66;
}
#main .changepsw {
  height: 100%;
  display: none;
  margin-left: 200px;
  background: #ededed;
}
#main .changepsw .top h3 {
  padding: 0 0 20px 0;
  position: relative;
  left: 40px;
  top: 30px;
  width: 110px;
  text-align: center;
  color: #373d4d;
  border-bottom: 5px solid #43b29f;
}
#main .changepsw .top .input-box {
  color: #c0c0c0;
  position: absolute;
  left: 30%;
  top: 20%;
}
#main .changepsw .top .input-box .input-table {
  border: 1px solid #ccc;
  margin: 20px 0;
  border-radius: 5px;
  padding-left: 20px;
}
#main .changepsw .top .input-box .input-table input {
  font-size: 20px;
  line-height: 30px;
}
#main .changepsw .top .input-box .calce {
  cursor: pointer;
  padding-left: 0;
  background: #71b9fc;
  color: #fff;
  width: 70px;
  text-align: center;
  float: right;
  padding: 10px 10px;
}

/*# sourceMappingURL=index.css.map */
