@charset "UTF-8";
/*
 *@author:杨亚洲
 *@version:v1.0
 *@date:2016/6/24
*/
body, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: none;
  padding: 0;
  background: none;
}

a, a:hover, a:link, a:visited, a:visited {
  text-decoration: none;
  color: #fff;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

@font-face {
  font-family: 'iconfont';
  src: url("../../common/ux_1466967219_6081846/iconfont.eot");
  /* IE9*/
  src: url("../../common/ux_1466967219_6081846/iconfont.eot?#iefix") format("embedded-opentype"), url("../../common/ux_1466967219_6081846/iconfont.woff") format("woff"), url("../../common/ux_1466967219_6081846/iconfont.ttf") format("truetype"), url("../../common/ux_1466967219_6081846/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url(../img/index-bg.jpg);
}

body {
  position: relative;
}

#warp {
  position: absolute;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  width: 340px;
  height: 450px;
  color: rgba(255, 255, 255, 0.6);
}
#warp h1 {
  margin-top: -15px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  line-height: 110px;
}
#warp .bot {
  height: 60px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 40px;
}
#warp .bot input {
  width: 100%;
  font-size: 20px;
  height: 100%;
  line-height: 60px;
}
#warp .bot input[type="submit"] {
  visibility: hidden;
  width: 0;
}
#warp .bot input::-moz-placeholder {
  color: rgba(86, 83, 81, 0.8);
}
#warp .bot input::-webkit-input-placeholder {
  color: rgba(86, 83, 81, 0.8);
}
#warp .bot input:-ms-input-placeholder {
  color: rgba(86, 83, 81, 0.8);
}
#warp .bot-submit {
  margin-bottom: 20px;
  line-height: 60px;
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#warp .bot-submit:hover {
  background: rgba(255, 255, 255, 0.2);
}
#warp .bottom {
  padding: 0 20px;
}
#warp .bottom::after {
  content: "";
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
#warp .bottom .left {
  float: left;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#warp .bottom .left:hover {
  color: rgba(255, 255, 255, 0.9);
}
#warp .bottom .right {
  float: right;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#warp .bottom .right:hover {
  color: rgba(255, 255, 255, 0.9);
}

footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  line-height: 25px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  text-align: right;
}
footer span {
  display: block;
  padding-right: 30px;
}

/*# sourceMappingURL=login.css.map */
