@import "reset.scss";

header {
	padding:0 30px;
	line-height: 50px;
	background: #228abf; 
	z-index: 2;
	.fl {
		font-size: 40px;
		color: #fff;
		opacity: .8;
	}

	span.fl {
		font-size: 20px;
		padding-left: 10px;
	}

	.user {
		float: right;

		i {
			font-size: 25px;
			color: #fff; 
			opacity: .8;
		}

		a {
			opacity: 0.8;
			color: #fff;
			transition: all .5s ease;

			&:link {
				color: #fff;
			}
			&:visited {
				color: #fff;
			}
			&:active {
				color: #fff;
			}
			&:hover {
				color: #fff;
				opacity: 1;
			}
		}

	}
}




#main {
	& *{ 
		@include borderBox;
	}

	


	.nav {
		
		width: 200px;
		float: left;
		background: #2b2e3d;
		height: 100%;

		.top-img {
			
			width: 100px;
			height: 100px;
			margin: 50px 50px 20px 50px;
			
			border: 1px solid #fff;
			border-radius: 50px;
			
			background-image: url(../img/person.jpg);
			background-size: cover;
		}


		ul {
			
			font-size: 15px;
			color: #647484;
			
			li {
				padding-left: 20px;

				&:hover {
					background-color: #373d4d;
					color: #c0c0c0;
				}

				cursor: pointer;
				line-height: 40px;
				i {
					margin-right: 20px;
				}
			}

			li.active {
				background-color: #373d4d;
				color: #c0c0c0;
			}

		}

		.info {
			margin-top: 30px;
			width: 100%;
			color: #c0c0c0;
		}

		.mobile {
			width:80%;
			height: 160px;
			margin: 0 auto;
			background-image: url("../img/1466678367.png");
			background-size: cover;
		}	

	}

	.content {
		height: 100%;
		
		margin-left: 200px;
		background: #ededed;
		.top {
			h3 {
			
				padding: 0 0 20px 0;
				position: relative;
				left: 40px;
				top: 30px;

				width: 110px;
				text-align: center;
				color: #373d4d;
				border-bottom:5px solid #43b29f;
			}
			span {
				display: none;
				float: right;
				margin-right: 60px;

				em{
					margin: 0 10px;
					font-size: 25px;
					color: red;
				}
			}
		}
		

		table {

			margin: 70px auto; 

			tr {
				display: block;
				text-align: center;
				padding: 10px 0 10px 50px;
			}

			td,th {
				margin-left: 20px; 
				display: inline-block;
				width: 126px;
			}

			td {
				padding-left: 40px; 
				background: #fff;
				overflow: hidden;
			}

			input {
				font-size: 14px;
				line-height: 30px;
			}

			tr.submit {
				line-height: 30px;
				text-align: center;
				td {
					cursor: pointer;
					padding-left: 0;
					background: #71b9fc;
					color: #fff;
				}

				td:nth-of-type(3){
					background: #f44a66;
				}


			}
		}



	}

	.changepsw {
		height: 100%;
		display: none;
		margin-left: 200px;
		background: #ededed;

		.top {
			h3 {
			
				padding: 0 0 20px 0;
				position: relative;
				left: 40px;
				top: 30px;

				width: 110px;
				text-align: center;
				color: #373d4d;
				border-bottom:5px solid #43b29f;

			}

			.input-box {
				color: #c0c0c0;
				position: absolute;
				left: 30%;
				top: 20%;

				.input-table {
					
					border:1px solid #ccc;
					margin:20px 0;
					border-radius: 5px;
					padding-left: 20px;

				}

				.input-table input {
					font-size: 20px;
					line-height: 30px;
				}
				.calce {
					cursor: pointer;
					padding-left: 0;
					background: #71b9fc;
					color: #fff;
					width:70px;
					text-align: center;
					float: right;
					padding: 10px 10px;
				}
			}
		}



	}
}



